<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../../static/styles/enter.css">
    <title>Title</title>
</head>
<body>
<div class="enter">
    <p class="title-login">Login</p>
    <form method="post" class="enter-form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="login-btn">Login</button>
    </form>
    <p class="register-first">If you don't have an account click <a href="{% url 'register_page' %}">here.</a></p>
</div>
{% include 'footer.html' %}
</body>
</html>