<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Car Shop</title>
</head>
<body>
    <p>you are in your profile page</p>
    {{ request.user }}
    {{ form.user }}
    <a href="{% url 'login_page' %}">Login</a>
    <a href="{% url 'logout_page' %}">Logout</a>

</body>
</html>