<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../../../static/styles/profile_page.css">
    <title>Car Shop</title>
</head>
<body>
<p>you are in profile page</p>
<div class="profile-details">
    {% if person.profile_photo %}
        <img src="{{ person.profile_photo.url }}" alt="profile_photo" class="profile-image">
    {% else %}
        <img src="../../../../static/images/default.jpg" alt="profile_photo" class="profile-image">
    {% endif %}
    <p class="profile-information name">{{ person.name|default_if_none:'Name not presented' }}</p>
    <p class="profile-information last-name">{{ person.last_name|default_if_none:'Last name not presented' }}</p>
    <p class="profile-information address">{{ person.address|default_if_none:'Address not presented' }}</p>
    <p class="profile-information email">{{ person.email|default_if_none:'Email not presented' }}</p>
    <p class="profile-information phone-number">{{ person.phone_number|default_if_none:'Phone number not presented' }}</p>
    <a href="{% url 'details_for_orders' %}" class="profile-information-links">Orders</a>
    <a href="{% url 'edit_profile' %}" class="profile-information-links">Edit profile</a>
</div>
{% include 'footer.html' %}
</body>
</html>