<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/styles/register_form.css"/>
    <title>Car Shop</title>
</head>
<body>
<div class="form">
    <h2>Register</h2>
    <form class='register-form' method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="submit-btn" type="submit">Create Profile</button>
    </form>
    <p class="have-account">If you have an account click <a href="{% url 'login_page' %}">here.</a></p>
</div>
{% include 'footer.html' %}
<script src="../../../../static/scripts/delete_bug.js"></script>
</body>
</html>