body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Arial", serif;
}

.all-con-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 600px;
    height: 300px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: #414141;
    width: 100%;
}

.nav-link {
    font-family: "Arial", serif;
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.nav-link:hover {
    color: gold;
    background-color: black;
    border-radius: 6px;
}

.address {
    margin: 15px 15px 5px;
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 5px black, 2px 2px 5px black;
}

.phone {
    margin: 15px 15px 5px;
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 5px black, 2px 2px 5px black;
}

.work {
    margin: 15px 15px 5px;
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 5px black, 2px 2px 5px black;
}

.email-con {
    margin: 15px 15px 5px;
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 5px black, 2px 2px 5px black;
}

.con-info {
    margin: 15px 15px 5px;
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 5px black, 2px 2px 5px black;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}