body {
    font-family: "Arial", serif;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: #414141;
}

.nav-link {
    font-family: "Arial", serif;
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.nav-link:hover {
    color: gold;
    background-color: black;
    border-radius: 6px;
}

.holder-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.holder-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.holder-info img {
    border-radius: 19px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}