body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.form-fields{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../images/pexels-dlkr-5676470.jpg");
    padding: 15px;
    border-radius: 6px;
}
label {
    margin: 15px 15px 5px;
    background-color: white;
    padding: 5px 10px;
    border-radius: 6px;
    box-shadow: 0 0 5px black, 2px 2px 5px black;
}
#id_first_name, #id_last_name, #id_address, #id_phone_number, #id_total_price {
    margin-left: 10px;
    margin-right: 15px;
    border-radius: 6px;
    width: 200px;
    height: 30px;
}
.order-make{
    background-color: white;
    border-radius: 6px;
    padding: 15px 30px;
    box-shadow: 0 0 5px black, 2px 2px 5px black;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
    font-family: "Arial", serif;
    font-size: 20px;
}
.order-make:hover{
    background-color: black;
    color: gold;
}
.hide-ps{
    display: none;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}