.product-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 5px lightblue, 2px 2px 5px black;
    border-radius: 6px;
    margin: 15px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: #414141;
}

.nav-link {
    font-family: "Arial", serif;
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.nav-link:hover {
    color: gold;
    background-color: black;
    border-radius: 6px;
}

.item-image {
    width: 100px;
    height: 100px;
}

.delete-item {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2019%2019%22%3E%3Cpath%20d%3D%22M10.6%209.5l8.2-8.2c.3-.3.3-.8%200-1.1s-.8-.3-1.1%200L9.5%208.4%201.3.2C1-.1.5-.1.2.2s-.3.8%200%201.1l8.2%208.2-8.2%208.2c-.3.3-.3.8%200%201.1.2.1.4.2.5.2s.4-.1.5-.2l8.2-8.2%208.2%208.2c.1.1.3.2.5.2s.4-.1.5-.2c.3-.3.3-.8%200-1.1l-8-8.2z%22%20fill%3D%22%23ababab%22%2F%3E%3C%2Fsvg%3E") no-repeat center;
    background-size: 12px;
    color: black;
    display: inline-block;
    height: 20px;
    width: 20px;
    cursor: pointer;
    opacity: 3;
}

.make-order {
    background-color: white;
    border-radius: 6px;
    padding: 10px 25px;
    box-shadow: 0 0 5px black, 2px 2px 5px black;
    margin-top: 15px;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
}

.center-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}